<!DOCTYPE html>
<html>
    <head>
        <title>Timesheet</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container">
            <h1 style="text-decoration: underline;">{{title}}</h1>
                <h2>Summary</h2>
                <div class="container">
                    <p>Over this time period <b>{{name}}</b> worked <b>{{#rounded}}{{total}}{{/rounded}} hours</b>. At ${{rate}} per hour that comes to <b>${{#rounded}}{{earned}}{{/rounded}}.</b></p>
                </div>

                <h2>Log</h2>
                {{#days}}
                <h3>{{#dateString}}{{date}}{{/dateString}}</h3>
                <div class="container">
                    <table class="table">
                        <col width=256>
                        {{#sessions}}
                        <tr>
                            <td><i>{{#hour}}{{start}}{{/hour}}</i> to <i>{{#hour}}{{end}}{{/hour}}</i></td>
                            <td>{{description}}</td>
                        </tr>
                        {{/sessions}}
                        <tr class="info"><td><b>TOTAL</b></td><td><b>{{#rounded}}{{total}}{{/rounded}} hours</b> {{#wasted}}({{#rounded}}{{break}}{{/rounded}} hours spent on breaks){{/wasted}}</td></tr>
                    </table>
                </div>
                {{/days}}
        </div>
    </body>
</html>
